
.vml {
    behavior: url(#default#VML);
    display: inline-block;
    position: absolute
 }
.amap-custom {
    top: 0;
    left: 0;
    position: absolute
}
.amap-container img {
    max-width: none !important;
    max-height: none !important
}

.amap-container {
    touch-action: none;
    position: relative;
    overflow: hidden;
    background: #fcf9f2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0AgMAAAC2uDcZAAAADFBMVEX////////////////1pQ5zAAAABHRSTlMAgP/AWuZC2AAAAVhJREFUeAFiYGAQYGDEQjAB2rcDC4BiGIqiU7abdKlO2QkeIClyPsDHweMKtOPHIJ1Op6/w7Y4fdqfT6VpndzqdrnV2p9PpWmd3Oj3qWndSoKp+2J1Op7vr7E6n07XO7nQ6XevsTqfTtc7udPo4/f787E6n0911dqfT6VpndzqdrnV2p9PpWmd3Ot27Ce8m6HS6u85dR6fTtU7r6HS61mkdnU7XOrvT6XTvJuxOp9PddXan0+laZ3c6na51dDpd67SOTqd7N+HdBJ1Od9e56+h0utZpHZ1O1zq70+l0rbM7nU73bsLudDrdXWd3Ol3rtI5Op2ud1tHpdK3TOjqd7t2EdxN0Ot1dZ3c6na51dqfT6VpndzqdrnV2p9Pp3k3Q6XR3nbuOTqdrndbR6XSt0zo6na51Wken072bsDudTnfX2Z1Op2ud3el0utbZnU7XOq2j0+t0uncTD1gO4zoT5doZAAAAAElFTkSuQmCC);
    -ms-touch-action: none
}

.amap-drags, .amap-layers {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden
}

.amap-layer img {
    pointer-events: none
}

.amap-e, .amap-maps {
    width: 100%;
    height: 100%
}

.amap-maps, .amap-e, .amap-layers, .amap-tile, .amap-tile-container {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden
}

.amap-context {
    position: absolute;
    left: 0;
    top: 0
}

.amap-overlays, .amap-markers, .amap-marker {
    position: absolute;
    left: 0;
    top: 0
}

.amap-layers {
    z-index: 0
}

.amap-overlays {
    z-index: 110;
    cursor: default
}

.amap-markers {
    z-index: 120
}

.amap-controls {
    z-index: 150
}

.amap-copyright {
    position: absolute;
    display: block !important;
    left: 77px;
    height: 16px;
    bottom: 0;
    padding-bottom: 3px;
    font-size: 11px;
    font-family: Arial, sans-serif;
    z-index: 160
}

.amap-logo {
    position: absolute;
    bottom: 1px;
    left: 1px;
    z-index: 160;
    height: 20px
}

.amap-logo img {
    width: 73px !important;
    height: 20px !important;
    border: 0;
    vertical-align: baseline !important
}

.amap-icon {
    position: relative;
    z-index: 1;
    overflow: hidden
}

.amap-icon img {
    position: absolute;
    z-index: -1
}

.amap-marker-label {
    position: absolute;
    z-index: 2;
    border: 1px solid blue;
    background-color: white;
    white-space: nowrap;
    cursor: default;
    padding: 3px;
    font-size: 12px;
    line-height: 14px
}

.amap-info {
    position: absolute;
    left: 0;
    z-index: 140;
    width: 320px
}

.amap-menu {
    position: absolute;
    z-index: 140;
    _width: 100px
}

.amap-info-close {
    position: absolute;
    right: 5px;
    _right: 12px;
+ right: 11 px;
    top: 5px;
    _top: 2px;
+ top: 2 px;
    color: #c3c3c3;
    text-decoration: none;
    font: bold 16px/14px Tahoma, Verdana, sans-serif;
    width: 14px;
    height: 14px
}

.amap-info-outer, .amap-menu-outer {
    box-shadow: 0 3px 14px rgba(0, 0, 100, 0.6);
    background: none repeat scroll 0 0 white;
    border-radius: 2px;
    padding: 1px;
    text-align: left;
    border: #c0c0c0 solid 1px
}

.amap-info-outer:hover, .amap-menu-outer:hover {
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.75)
}

.amap-info-content {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 18px 10px 10px;
+ margin: 0 10 px;
+ padding: 10 px 0;
    line-height: 1.4;
    overflow: auto
}

.amap-marker-content {
    position: relative
}

.amap-info {
    _width: 320px
}

.amap-menu {
    _width: 100px
}

.amap-info-sharp {
    height: 23px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -1px;
    width: 30px;
    background-image: url(https://webapi.amap.com/theme/v1.3/sharp.png);
    _background-image: url(https://webapi.amap.com/theme/v1.3/sharp.gif)
}

.amap-menu-outer {
    margin: 0;
    padding: 0;
    list-style-type: none
}

ul.amap-menu-outer li {
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    word-break: break-all;
    padding: 0 10px;
    font-size: 12px;
    white-space: nowrap
}

ul.amap-menu-outer li a {
    text-decoration: none;
    font-size: 13px;
    margin: 0 5px;
    color: #000;
    padding: 5px 5px
}

ul.amap-menu-outer li:hover {
    background-color: #f3f3ee
}

.amap-overlay-text-container {
    display: block;
    width: auto;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #fff;
    padding: 2px 3px;
    border: 1px solid #ccc;
    border-radius: 3px
}

.amap-overlay-text-container.amap-overlay-text-empty {
    display: none
}
.amap-container {
                          cursor: url(https://webapi.amap.com/theme/v1.3/openhand.cur), default;
                      }

.amap-drag {
    cursor: url(https://webapi.amap.com/theme/v1.3/closedhand.cur), default;
}

.vux-modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.vux-modal-open-for-container {
    overflow: hidden !important;
}

.amap-container {
    cursor: url(https://webapi.amap.com/theme/v1.3/openhand.cur), default;
}

.amap-drag {
    cursor: url(https://webapi.amap.com/theme/v1.3/closedhand.cur), default;
}

@font-face {
    font-family: 'iconfont';  /* project id 512913 */
    src: url('//at.alicdn.com/t/font_512913_5f6kx9yp5hq.eot');
    src: url('//at.alicdn.com/t/font_512913_5f6kx9yp5hq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_512913_5f6kx9yp5hq.woff') format('woff'),
    url('//at.alicdn.com/t/font_512913_5f6kx9yp5hq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_512913_5f6kx9yp5hq.svg#iconfont') format('svg');
}

.iconfont {
    font-family: iconfont;
}