@font-face {
    font-family: 'iconfont';  /* project id 512913 */
    src: url('//at.alicdn.com/t/font_512913_5f6kx9yp5hq.eot');
    src: url('//at.alicdn.com/t/font_512913_5f6kx9yp5hq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_512913_5f6kx9yp5hq.woff') format('woff'),
    url('//at.alicdn.com/t/font_512913_5f6kx9yp5hq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_512913_5f6kx9yp5hq.svg#iconfont') format('svg');
}
.iconfont {
    font-family: iconfont;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 1.173333rem;
    line-height: 1.173333rem;
    text-align: center;
    font-size: 0.48rem;
    color: #fff;
    background: #00d3c2;
}
.shadbg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.goback {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0.266667rem;
    line-height: 1.173333rem;
}
.nav-inav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 0 0.266667rem;
}
.align_top {
    vertical-align: top;
}
.popBox {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 8.93333rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 0.10667rem;
}
#noRecomm + label:before {
    display: inline-block;
    margin-right: 0.13333rem;
    content: "\e611";
    font-family: iconfont;
    font-size: 0.4rem;
    color: #666;
}
#noRecomm:checked + label:before {
    margin-right: 0.13333rem;
    content: "\e612";
    color: #00d3c2;
}